<h3>Backup settings</h3>

<form class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<label for="backupName" class="control-label col-lg-2">Backup to</label>
			<div class="col-lg-10">
				<div class="input-group">
					<tt class="input-group-addon">{{backupFolder}}</tt>
					<input type="text" placeholder="Folder" id="backupName" name="backupName" class="form-control" ng-model="backupName">
				</div>
				<p class="help-block">This folder will be created and the selected items will be copied into this folder.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">
				Items<br />
				{{selItem()}} of {{items.length}} selected
			</label>
			<div class="col-lg-10">
				<div class="checkbox" ng-repeat="item in items">
					<label ng-class="{muted: !item.selected}">
						<input type="checkbox" ng-model="item.selected">
						/opt/minepeon/{{item.name}}
						<span class="label label-success" ng-show="item.bak">done</span>
						<span class="label label-danger"  ng-show="item.fail">fail</span>
					</label>
				</div>
				<div class="input-group">
					<tt class="input-group-addon">{{thisFolder}}</tt>
					<input type="text" ng-model="newItem" placeholder="add more items here" class="form-control">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="addItem()">Add item</button>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 col-offset-2">
				<p class="help-block">
					Items can be files or folders.
				</p>
				<p class="help-block">
					Backed up items will be confirmed by a green label.
					If this does not show up for some items, click backup again and MinePeon will attempt to backup the not yet backed up items again.
				</p>
				<button type="button" class="btn btn-default" ng-click="backup()">Backup</button>
			</div>
		</div>
	</fieldset>
</form>

<h3>Restore settings from backup</h3>
<div class="row">
	<div class="col-lg-2">
		<p>
			<button type="button" class="btn btn-default btn-block" ng-click="reload()">Reload list</button>
		</p>
		<div class="list-group">
			<a href="" ng-repeat="b in backups" ng-click="choose($index)" class="list-group-item" ng-class="{active:restoring==$index}">{{b.dir}}</a>
		</div>
	</div>
	<div class="col-lg-10">
		<p class="form-inline">
			<button type="button" class="btn btn-default" ng-click="restore()">Restore from <b>{{backups[restoring].dir}}</b></button>
			<button type="button" class="btn btn-primary" ng-click="download()">Download as .zip</button>
		</p>
		<div ng-hide="backups[restoring].items" class="alert">
			There seems to be no files in this backup, this can happen if permission was denied.
		</div>
		<div class="list-group">
			<div ng-repeat="i in backups[restoring].items" class="list-group-item">
				{{i}}
			</div>
		</div>
	</div>
</div>