<h2>Restore settings from backup</h2>

<form class="form-horizontal">
	<fieldset>
		<legend>Available backups</legend>
		<div class="form-group">
			<label for="backupName" class="control-label col-lg-2">Restore from</label>
			<div class="col-lg-10">
				<div class="radio" ng-repeat="f in folders">
					<label>
						<input type="radio" name="selectedFolder" value="{{$index}}" ng-model="folderdata.index">
						<span ng-bind="f.name"></span>
						<span class="label label-success" ng-show="folder.bak">restored</span>
					</label>
				</div>
				<p class="help-block">Are you sure you want to restore from <b>{{folders[folderdata.index].name}}</b>?</p>
				<button type="button" class="btn btn-default" ng-click="restore()">Restore now!</button>
				<p class="help-block">Restore function not yet implemented.</p>
			</div>
		</div>
	</fieldset>
</form>