<h2>Settings</h2>

<form class="form-horizontal">
  <fieldset>
    <legend>User</legend>
    <div class="form-group">
      <label for="helpEnable" class="control-label col-lg-2">Help text</label>
      <div class="col-lg-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="helpEnable" ng-model="settings.helpEnable"> Show info about settings and how the interface works
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="userTimezone" class="control-label col-lg-2">Timezone</label>
      <div class="col-lg-10">
        <input type="text" id="userTimezone" ng-model="settings.userTimezone" class="form-control">
        <p class="help-block">MinePeon thinks it is now {{1000*settings.time|date:'yyyy-MM-dd HH:mm:ss'}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="userPassword" class="control-label col-lg-2">New Password</label>
      <div class="col-lg-10">
        <input type="password" placeholder="New password" id="userPassword" ng-model="settings.userPassword" class="form-control">
        <p class="help-block" ng-show="settings.helpEnable">An empty password will not be saved.</p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Mining</legend>
    <div class="form-group">
      <label for="miningExpDev" class="control-label col-lg-2">Expected Devices</label>
      <div class="col-lg-10">
        <input type="number" id="miningExpDev" ng-model="settings.miningExpDev" class="form-control">
        <p class="help-block" ng-show="settings.helpEnable">
          If the count of active devices falls below this value, an alert will be sent.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="miningExpHash" class="control-label col-lg-2">Expected Hashrate</label>
      <div class="col-lg-10">
        <div class="input-group">
          <input type="number" id="miningExpHash" ng-model="settings.miningExpHash" class="form-control">
          <span class="input-group-addon">MH/s</span>
        </div>
        <p class="help-block" ng-show="settings.helpEnable">
          If the hashrate falls below half this value for more than a minute, an alert will be sent.<br/>
          After 3 minutes cgminer will be restarted.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="donateAmount" class="control-label col-lg-2">Donation</label>
      <div class="col-lg-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="donateEnable" ng-model="settings.donateEnable"> Enable donation
          </label>
        </div>
      </div>
      <div class="col-lg-6">
        <div ng-show="settings.donateEnable">
          <div class="input-group">
            <input type="number" placeholder="Donation minutes" id="donateAmount" ng-model="settings.donateAmount" class="form-control">
            <span class="input-group-addon">minutes per day</span>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-offset-2" ng-hide="settings.donateEnable">
        <p>
          You might not like idea that your mining hardware is being used by somebody else.<br />
          We understand.<br />
          Now look what your support could bring you:
          <ul class="list-unstyled">
            <li>Live Update <span class="label label-success">Almost finished</span></li>
            <li>SMS/Email Alerts <span class="label label-warning">Work in progress</span></li>
            <li>Backup/Restore <span class="label label-warning">Work in progress</span></li>
            <li>TFT Display</li>
            <li>LCD Display</li>
            <li>Android app</li> 
            <li>iOS app</li>
            <li>Cloud Control</li>
            <li>VPN Tunneling (DDOS Protection & Anonymity)</li>
          </ul>
        </p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Alerts</legend>
    <div class="form-group">
      <div class="col-lg-10 col-offset-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="alertEnable" ng-model="settings.alertEnable"> Enable e-mail alerts
          </label>
        </div>
      </div>
    </div>
    <div class="form-group" ng-show="settings.alertEnable">
      <label for="alertDevice" class="control-label col-lg-2">Device Name</label>
      <div class="col-lg-10">
        <input type="text" id="alertDevice" ng-model="settings.alertDevice" class="form-control">
      </div>
    </div>
    <div class="form-group" ng-show="settings.alertEnable">
      <label for="alertEmail" class="control-label col-lg-2">E-mail</label>
      <div class="col-lg-10">
        <input type="email" id="alertEmail" ng-model="settings.alertEmail" class="form-control">
      </div>
    </div>
    <div class="form-group" ng-show="settings.alertEnable">
      <label for="alertSmtp" class="control-label col-lg-2">SMTP Server</label>
      <div class="col-lg-10">
        <input type="text" id="alertSmtp" ng-model="settings.alertSmtp" class="form-control">
        <p class="help-block" ng-show="settings.helpEnable">Please choose your own SMTP server.</p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Developer</legend>
    <div class="form-group">
      <div class="col-lg-10 col-offset-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="devEnable" ng-model="settings.devEnable"> Enable developer mode
          </label>
        </div>
      </div>
    </div>
  </fieldset>
</div>