<h2>Status</h2>

<h3>Pools</h3>
<table id="pools" class="tablesorter table table-bordered table-condensed table-hover table-striped">
	<thead> 
		<tr>
			<th>URL</th>
			<th>User</th>
			<th>Status</th>
			<th><div title="Priority">Pr</div></th>
			<th><div title="GetWorks">GW</div></th>
			<th><div title="Accepted">Acc</div></th>
			<th><div title="Rejected">Rej</div></th>
			<th><div title="Discarded">Disc</div></th>
			<th><div title="Last Share Time">Last</div></th>       
			<th><div title="Difficulty 1 Shares">Diff1</div></th>        
			<th><div title="Difficulty Accepted">DAcc</div></th>
			<th><div title="Difficulty Rejected">DRej</div></th>
			<th><div title="Last Share Difficulty">DLast</div></th>
			<th><div title="Best Share">Best</div></th>      
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in pools" ng-class="{success:p.Status=='Alive',danger:p.Status!='Alive'}">
			<td ng-bind="p.URL|shortUrl"></td>
			<td ng-bind="p.User" class='ellipsis'></td>
			<td ng-bind="p.Status"></td>        
			<td ng-bind="p.Priority"></td>
			<td ng-bind="p.Getworks"></td>
			<td ng-bind="p.Accepted"></td>
			<td ng-bind="p.Rejected"></td>
			<td ng-bind="p.Discarded"></td>
			<td ng-bind="1000*p.LastShareTime|date:'HH:mm:ss'"></td>
			<td ng-bind="p.Diff1Shares"></td>       
			<td ng-bind-template="{{p.DifficultyAccepted}}&nbsp;[{{100*p.DifficultyAccepted/p.Diff1Shares|number:2}}%]"></td>
			<td ng-bind-template="{{p.DifficultyRejected}}&nbsp;[{{100*p.DifficultyRejected/p.Diff1Shares|number:2}}%]"></td>
			<td ng-bind="p.LastShareDifficulty"></td>
			<td ng-bind="p.BestShare"></td>     
		</tr>
	</tbody>
</table>

<h3>Devices</h3>
<div ng-hide="devs" class='alert alert-danger'>No devices running</div>
<table ng-show="devs" id="stats" class="tablesorter table table-bordered table-condensed table-hover table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>ID</th>
			<th>Temp</th>
			<th>Hashrate 5s</th>
			<th>Hashrate av</th>
			<th>Accepted</th>
			<th>Rejected</th>
			<th>HW Errors</th>
			<th>Utility</th>
			<th>Last Share Time</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="d in devs" ng-class="{danger:d.Rejected/(d.TotalShares) > .05 || d.HardwareErrors/(d.TotalShares) > .1}">
			<td ng-bind="d.Name"></td>
			<td ng-bind="d.ID"></td>
			<td ng-bind-template="{{d.Temperature}} °C"></td>
			<td ng-bind="d.MHS5s|mhs"></td>
			<td ng-bind="d.MHSav|mhs"></td>
			<td ng-bind="d.Accepted"></td>
			<td ng-bind-template="{{d.Rejected}}&nbsp;[{{100*d.Rejected/(d.TotalShares)|number:2}}%]"></td>
			<td ng-bind-template="{{d.HardwareErrors}}&nbsp;[{{100*d.HardwareErrors/(d.TotalShares)|number:2}}%]"></td>
			<td ng-bind="d.Utility"></td>
			<td ng-bind="1000*d.LastShareTime|date:'HH:mm:ss'"></td>
		</tr>
	</tbody>
	<tfoot>
  	<tr>
		  <th colspan="3">Totals</th>
		  <th ng-bind="dtot.MHS5s|mhs"></th>
		  <th ng-bind="dtot.MHSav|mhs"></th>
		  <th ng-bind="dtot.Accepted"></th>
			<th ng-bind-template="{{dtot.Rejected}}&nbsp;[{{100*dtot.Rejected/(dtot.TotalShares)|number:2}}%]"></td>
			<th ng-bind-template="{{dtot.HardwareErrors}}&nbsp;[{{100*dtot.HardwareErrors/(dtot.TotalShares)|number:2}}%]"></td>
		  <th ng-bind="dtot.Utility">" . $ . "</th>
		  <th></th>
	  </tr>
  </tfoot>
</table>