<!DOCTYPE html>
<html lang="en" ng-app="Peon">
<head>
	<meta charset="utf-8">
	<title>Advanced - MinePeon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-minepeon.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-static-top">
		<div class="container">
			<ul class="nav navbar-nav">
				<li menu-active><a ng-href="#/status">Status</a></li>
				<li menu-active><a ng-href="#/backup">Backup</a></li>
				<li menu-active><a ng-href="#/restore">Restore</a></li>
				<li><a href="phpliteAdmin">Database Admin</a></li>
				<li><a href="miner.php">Miner.php</a></li>
				<li><a href="/"><b class="text-primary"><i class="icon-btc"></i>ack to normal</b></a></li>
			</ul>
		</div>
	</div>
	<div class="statusbar peon-trigger" ng-controller="CtrlStatusBar">
		<div class="container">
			<span class="btn" status-item="statbar.mhsav" good="miningExpHash" bad="miningExpHash*.8" title="cgMiner > Summary > MhsAv">
				<span ng-bind="statbar.mhsav|number"></span>
				<small> MH/s</small>
			</span>
			<span class="btn" status-item="1" good="miningExpDev" bad="miningExpDev-2" title="Running devices">
				<span ng-bind-template="1 / {{miningExpDev}}"></span>
				<small> devs</small>
			</span>
			<span class="btn" status-item="cpu" good="0.1" bad="0.9" title="CPU usage since last update">
				<small>cpu </small>
				<span ng-bind="cpu*100|number:1"></span>
				<small> %</small>
			</span>
			<span class="btn" status-item="statbar.load" good="0.3" bad="1" title="PHP CPU load 1 minute average">
				<small>load </small>
				<span ng-bind="statbar.load*100|number:1"></span>
				<small> %</small>
			</span>
			<span class="btn" status-item="statbar.temp" good="35" bad="50" title="Raspberry Pi temperature">
				<small>temp </small>
				<span ng-bind="statbar.temp"></span>
				<small> °C</small>
			</span>
			<div class="peon-settings">
				<div class="peon-more">
					<button class="btn" ng-click="setRate(-1)" ng-class="{disabled:rate>600000}" title="Stop refreshing">Stop</button>
					<button class="btn" ng-click="setRate(1000)"  ng-class="{disabled:rate==1000}" title="Refresh data every second">1</button>
					<button class="btn" ng-click="setRate(5000)"  ng-class="{disabled:rate==5000}" title="Refresh data every 5 seconds">5</button>
					<button class="btn" ng-click="setRate(30000)" ng-class="{disabled:rate==30000}" title="Refresh data every 30 seconds">30</button>
				</div>
				<button class="btn" ng-click="tick(true)" title="Refresh just once"><i class="icon-refresh"></i></button>
				<button class="btn" ng-click="editSettings=!editSettings" title="Status page settings"><i class="icon-wrench"></i></button>
			</div>
		  <form class="form-horizontal" ng-show="editSettings">
		    <fieldset>
		      <div class="form-group">
		        <label for="miningExpDev" class="control-label col-lg-2">Expected Devices</label>
		        <div class="col-lg-4">
		          <input type="number" ng-model="miningExpDev" ng-init="miningExpDev=1" class="form-control">
		          <p class="help-block" ng-show="settings.helpEnable">
		            If the count of active devices falls below this value, an alert will be sent.
		          </p>
		        </div>
		        <label for="miningExpHash" class="control-label col-lg-2">Expected Hashrate</label>
		        <div class="col-lg-4">
		          <div class="input-group">
		            <input type="number" ng-model="miningExpHash" ng-init="miningExpHash=900000" class="form-control">
		            <span class="input-group-addon">MH/s</span>
		          </div>
		          <p class="help-block" ng-show="settings.helpEnable">
		            If the hashrate falls below half this value for more than a minute, an alert will be sent.<br/>
		            After 3 minutes cgminer will be restarted.
		          </p>
		        </div>
		      </div>
		    </fieldset>
		  </form>
			</div>
		</div>
	</div>

	<div class="container">
		<div ng-view>
			<p>
				Loading angular.js the first time might take some seconds... Hang tight!
			</p>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<script src="js/ng/angular.min.js"></script> 
	<script src="js/ng/app.js"></script>
	<script src="js/ng/services.js"></script>
	<script src="js/ng/controllers.js"></script>
	<script src="js/ng/filters.js"></script>
	<script src="js/ng/directives.js"></script>
	<script src="js/ng/moment.min.js"></script>
	<script src="js/jquery.tablesorter.js"></script>
</body>
</html>
